Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Sxiv.font: Terminus:size=12
Sxiv.background: #000000
Sxiv.foreground: #338833

xterm*faceName: Cascadia Code
xterm*faceSize: 14

URxvt.font: xft:Cascadia Code:size=14
URxvt.scrollBar: false

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common: font-size,clipboard

URxvt.keysym.S-M-K: perl:font-size:increase
URxvt.keysym.S-M-J: perl:font-size:decrease

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste

URxvt.keysym.S-Return: \033[13;2u
URxvt.keysym.C-Return: \033[13;5u

! one dark
! special
*.foreground:   #ABB2BF
*.background:   #282C34
*.cursorColor:  #ABB2BF

! black
*.color0:       #2C323C
*.color8:       #3E4452

! red
*.color1:       #E06C75
*.color9:       #E06C75

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #E5C07B
*.color11:      #E5C07B

! blue
*.color4:       #61AFEF
*.color12:      #61AFEF

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #5C6370
*.color15:      #ABB2BF
