Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Sxiv.font: Terminus:size=12
Sxiv.background: #000000
Sxiv.foreground: #338833

URxvt.font: xft:Cascadia Code:size=14
URxvt.scrollBar: false

URxvt.keysym.S-Return: \033[13;2u
URxvt.keysym.C-Return: \033[13;5u

*.background: #2C2E34
*.foreground: #E2E2E3

*.color0: #181819
*.color8: #181819

*.color1: #FC5D7C
*.color9: #FC5D7C

*.color2: #9ED072
*.color10: #9ED072

*.color3: #E7C664
*.color11: #E7C664

*.color4: #76CCE0
*.color12: #76CCE0

*.color5: #B39DF3
*.color13: #B39DF3

*.color6: #F39660
*.color14: #F39660

*.color7: #E2E2E3
*.color15: #E2E2E3
