ACTION=="change", SUBSYSTEM=="power_supply", KERNEL=="AC", ATTR{type}=="Mains", ATTR{online}=="0", RUN+="/usr/local/bin/charge 0"
ACTION=="change", SUBSYSTEM=="power_supply", KERNEL=="AC", ATTR{type}=="Mains", ATTR{online}=="1", RUN+="/usr/local/bin/charge 1"
